{% extends 'base.html' %}
{% block content %}
{% import 'table_data.html' as table_data %}
    <div class="control-board">
        <h4>Report Controller </h4>
        <form method="POST" action="/generate-report">
            <div>
                <div>
                    <label  for="startdate-input">Startdate</label>
                    <input  name="startdate" id="startdate-input" type="date"/>
                </div>
                <div>
                    <label  for="enddate-input">Startdate</label>
                    <input name="enddate" id="startdate-input" type="date"/>
                </div>
                <div>
                    <label  for="listtasks-checkbox">List Tasks</label>
                    <input disabled name="list_tasks" id="startdate-input" type="checkbox"/>
                </div>
                <button class="primary-btn" type="submit">Generate Report</button>
            </div>
        </form>
    </div>
    {% if data is not none %}
        {{ table_data.table_data(data) }}
    {% else %}
        <h3 style="text-align: center; padding-top: 16px;">No entries</h3>
    {% endif %}
{% endblock %}
</html>